.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}
.prods{
  align-content: center;
}
.width{
  width: 250px;
}
.delete{
  background-color: none;
  border: none;
}
.carousel-control-next {
  width: 25%;
  filter: invert(100%);

}
.carousel-control-prev {
  width: 2 5%;
  filter: invert(100%);

}
.jumbotron .display-4{
    font-weight: bold;
}
.navtext:hover{
  color: #9792c7;
  font-weight: bold;
  text-decoration: none;
}

.nomargin{
  margin-left: 0;
  display: inline-flex;
}

.btn-me:hover{
  color:#9792c7;
}
.nav {
  background-color: hsl(0, 0%, 100%);
  font-weight: bold;
}
.bg-secondary{
  background-color: #F1F1F1;
}
.bg {
  background-color: #f5f5f5;
}

 .btn-me {
  background-color: #f5f5f5;
  border-radius: 18px;
  color: #72D2B8;
  font-weight: bold;
  border: none;
}

.prof-btn{
  padding: 5px 15px 5px 15px;
}

.header-img{
  display: inline-block;
  margin:auto;
  width: 50px;
  align-self: center;

}
.jumbotron {
  margin-top: 25px;
  height: 48vh;
  padding-top: 50px;
  background: url('../img/portada.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}
.sided {
  float: left;
  width: 80px;
  padding: 5px;
  margin: auto;
}
.c-n{
  font-size: 35px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  border: 3px solid #9792c7;
  color: #f5dd45;
  text-align: center;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;

  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: f6f6f6;
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: #72D2B8;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#products{
  display: block;
  margin-left: 75px;
  margin-right: 75px;
}

#u_name{
  display: inline-block;
}
 .c_container{
   background-color: white;

 }